{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Message from 
{% endblock title %}

{% block content %}

<section class="container-fluid">
    <div class="col-12">
        <div class="plant-card">
            <div>
                <p>Message to {{ plant.owner }}</p>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Send</button>
            </form>
        </div>
    </div>

</section>

{% endblock content %}