{% extends 'base.html' %}

{% block title %}
{{ profile }}'s Profile
{% endblock title %}

{% block content %}

<section class="container-fluid">
    <div class="col">
        <p>Name {{ profile.name }}</p>
        <p>Location: {{ profile.location }}</p>
        <p>About {{profile.name}}: {{ profile.about_me }}</p>
        <p>Interests: {{ profile.interested_in }}</p>
        <p>User since: {{ profile.created_on }}</p>
        <!-- Ratings based on avg num of ratings for users which are submitted when users are have received a plant? -->
        <p>Reliability: {{ profile.rating }}</p>
        <a href="{% url 'profiles:edit_profile' pk=profile.id %}">Update Your Profile</a>
    </div>
</section>

<!-- What to do if user hasn't created their profile yet! Maybe redirect to the create profile view when first logged in? -->


{% endblock content %}