{% extends 'base.html' %}

{% block title %}
{{ profile }}'s Profile
{% endblock title %}

{% block content %}

<section class="container-fluid">
    <div class="col-12">
        <h1 class="headings headings-bg text-center">{{ profile }}'s Profile</h1>
        <div class="row d-flex justify-content-evenly">
            <div class="col-sm-6 plant-card">
                <table>
                    <tr>
                        <th>Name: </th>
                        <td>{{ profile.name }}</td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td>{{ profile.location }}</td>
                    </tr>
                    <tr>
                        <th class="align-top">About:</th>
                        <td>{{ profile.about_me|linebreaks }}</td>
                    </tr>
                    <tr>
                        <th>Interests:</th>
                        <td>{{ profile.interested_in }}</td>
                    </tr>
                    <tr>
                        <th>Reliability:</th>
                        <td>{{ profile.rating }}</td>
                    </tr>
                </table>
                <p class="little">User since: {{ profile.created_on }}</p>
            </div>
            <div class="col-sm-4 plant-card">
                <ul>
                    {% if profile.user == request.user %}
                    <li class="list-space">
                        <a class="plnt-links" href="{% url 'profiles:edit_profile' pk=profile.id %}">Update Your
                            Profile</a>
                    </li>
                    <li class="list-space">
                        <a class="plnt-links" href="{% url 'profiles:mailbox'%}">Mailbox</a>
                    </li>
                    {% endif %}
                </ul>
                
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <h2 class="headings headings-bg text-center">{{ profile }}'s Plants</h2>
    <div class="col-12">
        <div class="row">
            {% for plant in plants %}
            <div class="plant-card col-3">
                <a class="plnt-links" href="{% url 'plants:plant_detail' plant_id=plant.id %}">{{ plant }}</a>
                <p>Posted on {{ plant.added_on }}</p>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
                {% endif %}
            {% empty %}
                No plants! 
            {% endfor %}
        </div>
    </div>
</section>

<!-- What to do if user hasn't created their profile yet! Maybe redirect to the create profile view when first logged in? -->


{% endblock content %}