{% extends 'base.html' %}

{% block title %}
Plant Forums
{% endblock title %}

{% block content %}

<section class="container-fluid">
    <div class="col-12">
        <h1 class="headings headings-big">Welcome to the plant discussions</h1>
        <p>Browse the forums and join in with our plant chats! Don't forget to drop into the General Discussion to introduce yourself.</p>
    </div>
</section>
<section class="container-fluid">
    <div class="col-12">
        {% for forum in forum_list %}
            {% if forum.title == 'General Discussion' %}
            <div class="col-10 plant-card">
                <a class="plnt-links headings headings-sm" href="{% url 'forums:forum' forum_id=forum.id %}">{{ forum.title }}</a>
                <p>{{ forum.description }}</p>       
            </div>
            {% else %}
        <div class="col-10 plant-card">
            <a class="plnt-links headings headings-sm" href="{% url 'forums:forum' forum_id=forum.id %}">{{ forum.title }}</a>
            <p>{{ forum.description }}</p>          
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<section class="container-fluid">
    <div class="col-12">
        <!-- Below discussion - maybe has the new discussion button?? -->
    </div>
</section>


{% endblock content %}