{% extends 'base.html' %}

{% block title %}
Plant Forums
{% endblock title %}

{% block content %}

<section class="container-fluid">
    <div class="col-12">
        <!-- Header for the forum?? Number of topics + posts. Lastest thread? -->
    </div>
</section>
<section class="container-fluid">
    <div class="col-12">
        {% for forum in forum_list %}
            {% if forum.title == 'General Discussion' %}
            <div class="col-10">
                <a href="{% url 'forums:forum' forum_id=forum.id %}">{{ forum.title }}</a>
                <p>{{ forum.description }}</p>       
            </div>
            {% else %}
        <div class="col-10">
            <a href="{% url 'forums:forum' forum_id=forum.id %}">{{ forum.title }}</a>
            <p>{{ forum.description }}</p>          
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
<section class="container-fluid">
    <div class="col-12">
        <!-- Below discussion - maybe has the new discussion button?? -->
    </div>
</section>


{% endblock content %}