{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{ discussion.title }}
{% endblock title %}

{% block content %}

<section class="container-fluid">
    <div class="col-12">
        <!-- Header for the forum??  -->
    </div>
</section>
<section class="container-fluid">
    <div class="col-12">
        <h1>{{ discussion.title }}</h1>
        <div class="row">
            <div class="col-4">
                <p>{{ discussion.creator }}</p>
                <p>Posted on:</p>
                <p>{{ discussion.created_on }}</p>
            </div>
            <div class="col-8">
                {% if discussion.deleted %}
                <p><em>Content deleted by user.</em></p>
                {% else %}
                <p>{{ discussion.content }}</p>
                <p>Image</p>
                {% endif %}
            </div>
            <div>
                <p>Last edited: {{ discussion.last_edited }}</p>
            </div>
            {% if discussion.creator == request.user and not discussion.deleted %}
            <div>
                <a href="{% url 'forums:edit_topic' pk=discussion.id %}">Edit Post</a>
                <a href="{% url 'forums:delete_topic' topic_id=discussion.id %}">Delete Post</a>
            </div>
            {% endif %}
        </div>
        <!-- Paginated discussions -->
        {% for post in page_obj %}
        <div class="row">
            <div class="col-4">
                <p>{{ post.creator }}</p>
                <p>Posted on:</p>
                <p>{{ post.created_on }}</p>
            </div>
            <div class="col-8">
                {% if post.deleted %}
                <p><em>Content deleted by user.</em></p>
                {% else %}
                <p>{{ post.content }}</p>
                <p>Image</p>
                {% endif %}
            </div>
            <div>
                <p>Last edited: {{ post.last_edited }}</p>
            </div>
            {% if post.creator == request.user %}
            <div>
                {% if not post.deleted %}
                <a href="{% url 'forums:edit_reply' pk=post.id %}">Edit Post</a>
                <a href="{% url 'forums:delete_reply' reply_id=post.id %}">Delete Post</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="col-12">
        <h2>Reply</h2>
        <form method="POST">
            {% csrf_token %}
            {{ post_form|crispy }}
            <button type="submit">Post Reply</button>
        </form>
    </div>
</section>

{% endblock content %}