{% extends 'base.html' %}

{% block title %}
{{ discussion.title }}
{% endblock title %}

{% block content %}

<section class="container-fluid">
    <div class="col-12">
        <!-- Header for the forum??  -->
    </div>
</section>
<section class="container-fluid">
    <div class="col-12">
        <!-- The actual discussion thread -->
    </div>
</section>
<section class="container-fluid">
    <div class="col-12">
        <!-- Below discussion - holds the reply button? -->
    </div>
</section>

{% endblock content %}