@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Josefin+Sans&family=Rubik&family=Zen+Antique+Soft&display=swap");

:root {
    --site-black: #191a19;
    --site-white: #d8ddc4;
    --site-whiter: #eaefd5;
    --site-beige: #c3caa4;
    --site-dark-brown: #6c460e;
    --site-med-brown: #996314;
    --site-light-brown: #aa6c1f;
    --site-dark-green: #0e6c17;
    --site-med-green: #469c36;
    --site-light-green: #5dc64d;
}

html {
    height: 100%;
}

/* Font Styling */
body {
    font-family: "Rubik", sans-serif;
    color: var(--site-black);
    font-size: 1rem;
    letter-spacing: 2px;
    background-color: var(--site-white);
}

.headings {
    font-family: 'Zen Antique Soft', serif;
    font-weight: 800;
    margin: 0.25em 0;
}

.headings-big {
    font-size: 2em;
}

.headings-sm {
    font-size: 1.25em;
}

.little {
    font-weight: 300;
    font-size: 0.75em;
}

.edited {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 1em;
}

.deleted {
    font-family: 'Electrolize', sans-serif;
    font-style: italic;
    font-size: 0.75em;
}

.status {
    padding: 0.5em 0;
    font-weight: 900;
    font-size: 1.5em;
}

.available {
    color: var(--site-med-green);
    border: 2px dotted var(--site-light-green);
}

.taken {
    color: var(--site-med-brown);
    border: 2px dotted var(--site-light-brown);
}

.msg-status {
    color: var(--site-light-brown);
    font-weight: 700;
}

/* Link & Button Styling */

button {
    border: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar-links {
    cursor: pointer;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    color: var(--site-dark-green);
    font-weight: 800;
    margin: 1em;
    border-radius: 4px;
    transition: color .4s linear, box-shadow .8s linear;
}

.navbar-links:hover, .navbar-links:active {
    box-shadow: inset 200px 0 0 0 var(--site-light-green), 0 4px 8px 0 var(--site-white);
    color: var(--site-white);
}

.navbar-drop-link {
    padding: 0;
    margin: 0.25em auto;
}

.drop-menu {
    padding: 1em;
    background-color: var(--site-beige);
}

.plnt-links {
    cursor: pointer;
    font-weight: 600;
    color: var(--site-dark-green);
    border: none;
    /* transition: all .4s ease-in-out; */
}

.plnt-links:hover, .plnt-links:active {
    color: var(--site-med-green);
    border-bottom: 2px solid var(--site-med-brown);
}

.plnt-btn {
    cursor: pointer;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    color: var(--site-white);
    background-color: var(--site-dark-brown);
    font-weight: 800;
    margin: 1em;
    border-radius: 4px;
    transition: color .4s linear, box-shadow .6s linear;
}

.plnt-btn:hover, .plnt-btn:active {
    box-shadow: inset 200px 0 0 0 var(--site-dark-green), 0 4px 8px 0 var(--site-light-brown);
    color: var(--site-whiter);
}

/* Spacing */

th, td {
    padding: 0.5em;
}

.list-space {
    padding: 0.5em 0;
}

.mailbxs {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-color: var(--site-light-green) var(--site-med-brown);
    scrollbar-width: thin;
}

/* Image styling */

.pics {
    max-width: 360px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Scrollbars */

.mailbxs::-webkit-scrollbar {
    width: 8px;
}

.mailbxs::-webkit-scrollbar-track {
box-shadow: inset 0 0 4px var(--site-med-brown); 
border-radius: 2px;
}

.mailbxs::-webkit-scrollbar-thumb {
background: var(--site-light-green); 
border-radius: 4px;
}

.mailbxs::-webkit-scrollbar-thumb:hover {
background: var(--site-dark-green); 
}

/* Navbar */

#navbar {
    margin-bottom: 1em;
    background-color: var(--site-beige);
    color: var(--site-dark-green);
    box-shadow: 0 2px 8px 0 var(--site-light-brown);
}

/* Plants Styling */

.plant-card {
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid var(--site-dark-brown);
    border-radius: 10px;
    background-color: var(--site-whiter);
    box-shadow: 0 2px 4px 0 var(--site-light-brown);
    overflow-wrap: break-word;
}

/* Forums Styling */

.reply-box {
    max-width: 1000px;
    width: 60vw;
    height: 8em;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0 auto;
    overflow-y: scroll;
}
/* 
textarea {
    max-width:80vw;
    height: 10em;
    border-radius: 10px;
    overflow-y: scroll;
} */

/* Footer */

footer {
    background-color: var(--site-beige);
    color: var(--site-dark-green);
}
