{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Post title goes in these h1 tags -->
                <h1 class="headings heading-big">
                    {{ post.title}}
                </h1>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.image.url %}
                <img class="card-img-top pics" src="{% static 'images/monstleaf.webp' %}">
                {% else %}
                <img src="{{ post.image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <h2 class="headings headings-sm">
                {{ post.author }} | {{ post.created_on|date:"d M Y" }}
            </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mb-4  mt-3 left  top">
            <div class="plant-card">
                <p>{{ post.content | safe}}</p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'plantblog:post_like' post_id=post.id %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                    <button type="submit" name="blogpost_id" value="{{ post.id }}">
                                        &hearts;
                                    </button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{ post.id }}">
                                    &hearts;
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span>&hearts;</span>
                            {% endif %}
                            <span> {{ post.number_of_likes}} </span>
                        </strong>
                    </div>
                    <div class="col-2">
                        {% with comments.count as total_comments %}
                        <strong>Comments:
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 plant-card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.author }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.content | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 plant-card mb-4  mt-3 ">
            <div>
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button type="submit" class="plnt-btn">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}