{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Post Plant 
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="col-8 mx-auto">
        <div class="d-flex justify-content-between">
            <div class="col-8">
                <h1 class="headings headings-big">Edit Plant</h1>
                <p>Update your plant's details below. Don't forget to mark it was taken if you've agreed a trade!</p>
            </div>
            <div class="col-4">
                <a class="plnt-btn float-end" href="{% url 'plants:exchange' %}">Back to Exchange</a>
            </div>
        </div>
        <div class="col-sm-10 mx-auto">
        <form method="POST">
            {% csrf_token %}
            <div class="form-col">
                <div class="form-group col-sm-6 mx-auto mb-0">
                {{ form.title|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mx-auto">
                {{ form.category|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mx-auto">
                {{ form.description|as_crispy_field }}
                </div>
                <div class="text-center">
                    <p>
                        <em>
                            Optional:
                        </em>
                    </p>
                </div>
                <div class="form-group col-sm-6 mx-auto">
                {{ form.will_trade_for|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mx-auto">
                {{ form.image|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6 mx-auto">
                    {{ form.status|as_crispy_field }}
                </div>
            <button class="plnt-btn float-end" type="submit">Post</button>
        </form>
        </div>
    </div>
</div>


{% endblock content %}
                