{% extends 'base.html' %}
{% load static %}
{% block title %}
Plants
{% endblock title %}

{% block content %}

<section class="container-fluid">
    <div class="col-12">
        <div class="d-flex justify-content-between">
            <div>
                <h1 class="headings headings-big">The Exchange</h1>
                <p>Browse plants looking for a new home or post your own.</p>
            </div>
            <div>
                <a class="plnt-btn" href="{% url 'plants:add_plant' %}">Post a plant</a>
            </div>
        </div>
        <div class="row d-flex justify-content-evenly">
            {% for plant in plant_list %}
            <div class="col-md-5">
                <div class="plant-card text-center">
                    <div>
                        <h2 class="headings headings-sm">{{ plant.title }}</h2>
                        <p>From: <a class="plnt-links" href="{% url 'profiles:profile' user_id=plant.owner.id %}">
                            {{ plant.owner }}</a></p>
                    </div>
                    <div class="image-container">
                        {% if "placeholder" in plant.image.url %}
                        <img class="pics" src="{% static 'images/monstleaf.webp' %}">
                        <p>No image available</p>
                        {% else %}
                        <img class="pics" src="{{ plant.image.url }}">
                        {% endif %}
                    </div>
                    <div>
                        <p class="little">Added: {{ plant.added_on|date:"d M Y" }}</p>
                        {% if plant.status == 0 %}
                        <p class="little">Available</p>
                        {% else %}
                        <p class="little">Taken</p>
                        {% endif %}
                        <a class="plnt-links" href="{% url 'plants:plant_detail' plant_id=plant.id %}">View Plant</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row d-flex justify-content-evenly">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number" class="page-link">NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</section>

{% endblock content %}