{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
{{ plant.title }}
{% endblock title %}

{% block content %}
<section class="container-fluid">
    <div class="col-12">
        <div class="plant-card">
            <div>
                <h2 class="headings headings-big">{{ plant.title }}</h2>
                <p class="little">Added by <a class="plnt-links" href="{% url 'profiles:profile' user_id=plant.owner.id %}">{{ plant.owner }}</a> on {{ plant.added_on }}</p>
            </div>
            <div class="row">
                <div class="col-sm-6 d-flex flex-column justify-content-evenly">
                    <div>
                        {% if plant.status == 0 %}
                        <p class="available">Available</p>
                        {% else %}
                        <p class="taken">Taken</p>
                        {% endif %}
                    </div>
                    <div>
                        <p><strong>Description:</strong></p>
                        <p>{{ plant.description }}</p>
                    </div>
                    <div>
                        <p><strong>{{ plant.owner }} would like to trade for:</strong></p>
                        <p>{{ plant.will_trade_for }}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="image-container">
                        {% if "placeholder" in plant.image.url %}
                        <img class="card-img-top pics" src="{% static 'images/monstleaf.webp' %}">
                        <p>No image available</p>
                        {% else %}
                        <img class="card-img-top pics" src="{{ plant.image.url }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <p class="edited">Last updated: {{ plant.updated_on }}</p>
                <a class="plnt-btn" href="{% url 'profiles:new_message' plant_id=plant.id %}">Message {{ profile.owner }}</a>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-md-8">
                {% for comment in comments %}
                <div>
                    <p>{{ comment.name }} posted:</p>
                    <p>{{ comment.body }}</p>
                    <small>on {{ comment.added_on }}</small>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-8">
                <p>Leave a comment:</p>
                {% if user.is_authenticated %}
                <p>Posting as {{ user.username }}</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <button type="submit">Post</button>
                </form>
                {% else %}
                <p>You must be signed in to comment</p>
                {% endif %}
            </div>
        </div>
    </div>

</section>

{% endblock content %}